<div class="product-show-box">
  <div class="product-photos-box">
    <% if @photos.present? %>
   <div class="show-picture">
     <% @photos.each_with_index do |p,index| %>
       <% if index <1 %>
        <div class= "tab-pane <%= render_active(index) %>" id="<%= index %>"><%= image_tag (p.avatar.medium.url) %>
        </div>
       <% end %>
     <% end %>
   </div>
   <div class="show-photo-xsmall-box">
     <% @photos.each_with_index do |p,index| %>
       <% if index <5 %>
         <div class="small-product">
           <%= image_tag p.avatar.small.url%>
         </div>
       <% end %>
     <% end %>
   </div>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class:"thumbnail") %>
    <% end %>
  </div>


  <section class="product-main-box">
    <div class="title">
      <h1><%= @product.title %></h1>
    </div>
    <span class="description">
      <p><%= @product.description%></p>
    </span>
    <p class="xushu">
      <%= @product.description%>
    </p>
    <div class="price">
      <span>售价 :</span>
      <span>￥</span>
      <span><%= @product.price %></span>
      <span>数量 :</span>
      <span><%= @product.quantity %></span>
    </div>
    <hr/>
    <!-- 产品规格：尺寸 / 重量 / 材质 / 产地 / 备注-->
    <div class="specification">
      <ul class="fuwu">
        <li>品质保证</li>
        <li>先行赔付</li>
        <li>顺丰包邮</li>
        <li>闪电退款</li>
      </ul>
      <div class="fenxiang">
       <span>爆品热度：</span>
       <span><%= @product.impressionist_count(:filter=>:session_hash) %></span>
       <span class="share">
         <a href="#"><i class="fa fa-twitter"></i></a>
         <a href="#"><i class="fa fa-facebook"></i></a>
         <a href="#"><i class="fa fa-google"></i></a>
         <a href="#"><i class="fa fa-pinterest"></i></a>
         <a href="#"><i class="fa fa-wechat"></i></a>
       </span>
     </div>
    </div>
    <hr/>
    <!-- 购买按钮 -->
    <div class="purchase">
        <% if @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class:"btn btn-lg btn-default") %>
        <% else %>
        已销售一空，无法购买
        <% end %>
        <span>
          <%= link_to("立即购买", checkout_carts_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
        </span>
    </div>
  </section>
</div>
